@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap");
img {
  max-height: 50%;
  cursor: pointer;
}
span {
  font-size: 1.5rem;
  font-family: "Gothic A1", sans-serif;
}
